.border{

    margin: 3px;
}
.flex{
    display: flex;

}

.justifycontent{
    justify-content: center;

}

.alignitems{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}

.bg-grey{
    background-color:#101010;;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 20px;

}